<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dev Lyfe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33224785-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  </head>
  <body>
    <div class='container'>
      <header class='jumbotron subhead'>
        <h1>Dev Lyfe</h1>
        <p class='lead'>
          A homepage for developers.
          <br/>
          Last updated at <%= Time.now.strftime("%I:%M%p %Z") %>
        </p>
      </header>
      <% @sites.each_slice(2) do |sites| %>
        <div class='row-fluid'>
          <% sites.each do |site| %>
            <div class='span6'>
              <h2>
                <a href='<%= site[:url] %>'><%= site[:name] %></a>
              </h2>
              <ul class='unstyled'>
              <% site[:entries].each do |entry| %>
                <li>
                <a href='<%= entry[:comments] %>'><i class='icon-comment'></i></a>
                  <a href='<%= entry[:url] %>'><%= entry[:title] %></a>
                </li>
              <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
      <footer class='footer'>
        <p class='muted'>
          Created by <a class='muted' href='http://blog.clifreeder.com' target='_blank'>Clif Reeder</a>
          </br>
          <a class='muted' href='http://twitter.com/clifreeder' target='_blank'>Feedback welcome</a>
          </br>
          <a class='muted' href='https://github.com/clifff/devlyfe' target='_blank'>Source code on Github</>
        </p>
      </footer>
    </div>
  </body>
</html>
